@model CardTrick.Models.TrickResult

@{
    ViewBag.Title = "Your card is";
}

<h2>@ViewBag.Title</h2>

<div>
    @{
        var img = "/Content/classic-cards/" + Model.CardImage;
        <img src=@img />
    }
</div>

@Html.ActionLink("Go again >>", "Start", null, new { @class = "btn btn-primary btn-large" })